h1,
h2,
h3,
th {
    font-family: Verdana, Geneva, sans-serif;
    color: #F90;
}

p,
td {
    font-family: Georgia, "Times New Roman", Times, serif;
}

td,
th {
    padding: 3.5px;
}

th {
    background-color: #663;
    color: #fff;
}

.fr {
    margin-left: 10px;
    background-image: url(../images/turkeyT.png);
    background-repeat: no-repeat;
    background-position: 450px top;
    width: 800px;
}